@charset "utf-8";
body { margin:0; position:fixed; top:0; right:0; bottom:0; left:0; user-select: none; }

/* text */
text { pointer-events: none; }
.chartBar text { font-weight: bold; fill:#fff; }

/* parent, chartBar */
rect { fill: none; stroke: #fff; }
rect.parent,
.chartBar rect { stroke-width: 2px; }
.chartBar rect { fill: orange; }
.chartBar:hover rect { fill: #ee9700; }
.chartBar rect { cursor: pointer; }

/* children */
.children rect.parent,
.children rect.parent { fill: #bbb; fill-opacity: 1; }
.children:hover rect.child { fill: #bbb; }
