@charset "utf-8";
body { margin:0; position:fixed; top:0; right:0; bottom:0; left:0; user-select: none;}

/* text */
text { pointer-events: none; }
.grandparent text { font-weight: bold; }

/* parent, grandparent */
rect { fill: none; stroke: #fff; }
rect.parent,
.grandparent rect { stroke-width: 2px; }
.grandparent rect { fill: orange; }
.grandparent:hover rect { fill: #ee9700; }
.grandparent rect { cursor: pointer; }

/* children */
.children rect.parent,
.children rect.parent { fill: #bbb; fill-opacity: 0.5; }
.children:hover rect.child { fill: #bbb; }
